/* ---------------------------------------------------------------------------------------------- */
/* ----- GENERAL -------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.page-content {
    display: flex;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-weight: 400;
    font-size: 2.3rem;
    color: #AE9576;
}
.recherche-query h4 {
    text-align: center;
    margin-top: 20px;
    color: #887256;
}


/* ---------------------------------------------------------------------------------------------- */
/* ----- FILTRES ET RANGES ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.filtres {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 225px;
    height: 100%;
    padding: 4vh 0;
}

.filtres h3 {
    width: 70%;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background-color: #AE9576;
    border-radius: 20px;
    margin-bottom: 20px;
}

.categories {
    width: 80%;
    margin: 0 auto;
    color: #887256;
}
.filtre-group {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 6px;
}
.filtre-group label {
    font-size: 0.95rem;
}
.filtre-group a {
    color: #887256;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 3px;
}
.filtre-group a:hover { color: #AE9576; }

.line {
    width: 100%;
    height: 1px;
    background-color: #DEC19E;
    margin: 30px 0 25px;
}

.prix {
    width: 100%;
}
.prix-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
}
.slider-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.slider-group label {
    width: 45px;
    font-size: 0.85rem;
    color: #887256;
}


/********** Range Input Styles **********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 150px;
}
input[type="range"]:focus {
    outline: none;
}
 
/***** Chrome, Safari, Opera and Edge Chromium styles *****/
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e5dfda;
    border-radius: 0.5rem;
    height: 0.5rem;  
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: #AE9576;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
 
input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid #fff;
    outline: 3px solid #fff;
}
 
/******** Firefox styles ********/
input[type="range"]::-moz-range-track {
    background-color: #e5dfda;
    border-radius: 0.5rem;
    height: 0.5rem;
}
input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: #AE9576;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #fff;
    outline: 3px solid #fff; 
}

 
.prix-etablis p {
    text-align: center;
    margin-top: 15px;
    font-size: 1.1rem;
    color: #a08666;
    font-weight: 600;
}
span {
    font-weight: 600;
}




/* ---------------------------------------------------------------------------------------------- */
/* ----- LISTE DES PRODUITS --------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.liste-produits {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 1vw;
    margin: 6vh auto;
    padding: 0 5vh;
}

.produit-item {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
}
.produit-item:hover {
    transform: scale(1.05);
    z-index: 1; 
    transition: all 0.4s ease;
}
.produit-desc {
    margin: 1.5vh 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.produit-item img {
    width: 100%;
    min-height: 19vw;
    height: 19vw;
    object-fit: cover;
}
.produit-item .haut-produit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}
.produit-item h2 {
    font-size: 0.95rem;
    text-transform: capitalize;
    text-decoration: transparent;
}
.produit-item h2:hover {
    text-decoration: underline #AE9576;
    transition: all 0.2s ease;
}
.produit-item button {
    background-color: transparent;
    border: none;
    color: #AE9576;
    cursor: pointer;
}
.produit-item i {
    margin-left: 1vw;
    font-size: 23px;
}
.produit-item a {
    text-decoration: none;
    color: #AE9576;
}
.produit-item h4 {
    font-weight: 600;
    color: #a08666;
}



/* ---------------------------------------------------------------------------------------------- */
/* ----- LISTE DES COLLECTIONS ------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */

.liste-collections {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 1.5vw;
    margin: 6vh auto;
    padding: 0 5vh;
}

.collection-item {
    background-color: #fff;
    width: 100%;
    display: flex;
    transition: all 0.2s ease;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.collection-item:hover,
#addLink:hover {
    transform: scale(1.05);
    z-index: 1; 
    transition: all 0.4s ease;
}

.collection-desc {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.collection-desc:hover {
    background-color: #0000006d;
}

.collection-desc .haut-collection {
    display: flex;
    justify-content: space-between;
}
.collection-item img {
    width: 100%;
    min-height: 17vw;
    height: 17.3vw;
    object-fit: cover;
    border-radius: 10px;
}
.collection-item h2 {
    margin: 5px;
    padding: 0 7px 2px;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: transparent;
}
.collection-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 0 #AE9576, 1px -1px 0 #AE9576, -1px 1px 0 #AE9576, -1px -1px 0 #AE9576, 1px 0px 0 #AE9576, 0px 1px 0 #AE9576, -1px 0px 0 #AE9576, 0px -1px 0 #AE9576;
}
.collection-desc .bottom {
    display: none;
    color: #fff;
    font-size: 13px;
}

.collection-desc:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection-desc:hover .haut-collection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-desc:hover .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
.collection-desc:hover .haut-collection a {
    font-size: 24px;
}
.arrow-to-page {
    background-color: #fff;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.arrow-to-page i {
    color: #AE9576;
    text-shadow: none;
    font-size: 25px;
    padding: 3px;
}
.collection-desc:hover .arrow-to-page {
    display: flex;
}


#addLink {
    width: 100%;
    height: 17vw;
    background-color: #fff;
    border: 2px solid #AE9576;
    border-radius: 10px;
}
.collection-plus {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #AE9576;
}
.collection-plus i {
    transition: 0.2s ease;
}
#addLink:hover .collection-plus i {
    transform: scale(1.1);
    transition: 0.3s ease;
}



/* ---------------------------------------------------------------------------------------------- */
/* ----- AUCUN ARTICLE DISPONIBLE --------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.aucun-article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 87vh;
}
.bulle {
    background-color: #fff;
    width: 330px;
    height: 330px;
    margin: 20% 0;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}
.aucun-article i {
    color: #AE9576;
    margin-bottom: 3vh;
}
.aucun-article p {
    color: #AE9576;
    background-color: #fff; 
    font-weight: 600;
    font-size: 1.2rem;
}
.aucun-article a {
    color: #AE9576;
    text-decoration: underline;
    font-size: 0.9rem;
}
