.page {
    width: 100%;
    min-height: 86vh;
    display: flex;
}

.panel {
    width: 15%;
    min-height: 86vh;
    background-color: #fff;
    border-right: 1px solid #DEC19E;
}
#panelTitle {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #887256;
}
button {
    width: 100%;
    min-height: 55px;
    color: #AE9576;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #AE9576;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
button:nth-child(2) {
    border-top: 1px solid #DEC19E;
}
button.active {
    color: #fff;
    background-color: #AE9576;
    font-weight: 500;
    font-size: 18px;
}

.commandes {
    width: 77%;
    margin: 30px 4%;
}

.commande .titre {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
.commande .titre:hover {
    border-color: #AE9576;
}

.titre .client, .titre .info-commande {
    width: 50%;
    margin: 25px;
}
.titre .client { margin-right: 0; }
.titre .info-commande { margin-left: 0; }

.titre h3 {
    text-align: center;
    font-size: 22px;
    color: #AE9576;
    font-weight: 500;
    margin-bottom: 15px;
}

.group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #AE9576;
    margin-bottom: 10px;
    color: #887256;
    font-size: 15px;
}
.group.pays p {
    text-transform: uppercase;
}
.group span { font-weight: 500; }
.group p { font-weight: 400; }

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid transparent;
}
.item:hover {
    z-index: 2;
    outline-color: #AE9576;
}
.item:nth-child(odd) { background-color: #fff; }
.item:nth-child(even) { background-color: #f8f8f8; }

.item .left {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #887256;
    font-size: 17px;
}
.item img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.item p {
    font-weight: 400;
    font-size: 14px;
    margin-right: 15px;
    color: #AE9576;
}

.total {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 15px;
}
.total p, .total h4 {
    padding: 8px 12px;
    border: 2px solid #AE9576;
    font-size: 16px;
}
.total p {
    color: #fff;
    background-color: #AE9576;
    font-weight: 300;
}
.total h4 {
    color: #AE9576;
    background-color: #fff;
    font-weight: 600;
}